body {
    background-color: #133040;
    font-family: "Oswald", sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overscroll-behavior-y: none;
}

.navText {
    font-family: "Montserrat", sans-serif;
}

.appContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}
