.homePageOuterBackground {
    width: 100%;
    height: 100vh;
    background-image: url("../Misc/srbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.homePageBanner {
    width: 100%;
    height: 100vh;
    background-image: url("../Misc/169068775628406925.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homePageContentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 140px;
}

.homePageTitle {
    text-shadow: 0 0 20px #fff;
}

.homePageButton {
    width: 270px;
    height: 75px;
    background-color: #5865f2;
    border: none;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.homePageButton:hover {
    background-color: #6672f7;
    text-shadow: 0 0 15px #fff;
}

.homePageButtonText {
    font-size: 25px;
    margin: 0;
    padding: 0;
    text-shadow: 0 0 10px #fff;
}

.homePageDiscordSymbole {
    font-size: 30px;
    position: relative;
    top: 1px;
    margin-left: 7px;
}

.fallbackWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid red;
}

.fallbackMessage {
    color: white;
    text-shadow: 0px 0px 10px white;
    margin: 0px;
    padding: 0px;
    margin-left: 5%;
}

.customAlert {
    position: sticky;
    top: 20px;
}
