.teamCardWrapper:hover {
    background-color: #39576a;
    border-color: #37627b;
}

.teamCardWrapper:hover .cardTitleWrapper {
    background-color: #3f6479;
    border-color: #3b5e72;
    box-shadow: 2px 2px 6px #233540;
}

.teamCardWrapper:hover .teamDetailsWrapper {
    background-color: #284457;
    border-color: #486b81;
    box-shadow: 6px 6px 5px #1d374f;
}

.teamCardWrapper:hover .memberBoardWrapper {
    background-color: #c3e1e6;
    border-color: #c7e0e5;
}

.membersTable tr:hover td {
    background-color: #dbe8fb24;
}

.memberBoardWrapper:active {
    border-style: inset;
}

.teamsListWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.teamCardWrapper {
    display: flex;
    flex-direction: column;
    background-color: #2e4756;
    padding: 20px;
    width: 80%;
    margin-bottom: 10px;
    border-style: outset;
    border-color: #2d5166;
    border-width: 7px;
    box-shadow: 5px 4px 10px black;
    margin-top: 30px;
}

.teamStatsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.teamStats {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.teamButtons {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
}

.teamButton {
    width: 50%;
    background-color: #bbdbd1;
    font-size: 2.3em;
    border-style: outset;
    border-color: #d5ede6;
    border-width: 4px;
    box-shadow: 5px 4px 4px #111b21;
    padding: 20px;
}

.ButtonWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ButtonIcon {
    margin-left: 0.1em;
    font-size: 1.1em;
    position: relative;
    top: 2px;
}

.roleIconsWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roleIcons {
    display: flex;
    flex-direction: row;
    background-color: #1e2e38;
    border-style: inset;
    border-color: #1a2a34;
    padding: 5px;
    align-items: fill;
    margin-left: 10px;
    position: relative;
    bottom: 8px;
}

.positionIcon {
    width: 30px;
    height: 30px;
    filter: grayscale(50%);
    margin-left: 3px;
    margin-right: 3px;
}

.roleIconsWrapper div {
    margin-top: 10px;
}

.teamDetailsWrapper {
    display: flex;
    flex-direction: row;
    background-color: #253e4f;
    border-style: outset;
    border-color: #3d5b6e;
    border-width: 3px;
    box-shadow: 6px 6px 5px #142637;
    padding: 10px;
}

.teamInfoWrapper {
    width: 50%;
}

.teamAvgRankWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.avgRankText {
    margin-left: 10px;
    text-shadow: 0px 0px 10px rgb(177, 255, 254);
}

.cardTitleWrapper {
    background-color: #355466;
    margin-bottom: 10px;
    padding: 5px;
    border-style: outset;
    border-color: #2d4858;
    border-width: 2px;
    box-shadow: 4px 4px 6px #19262e;
    border-radius: 10px;
}

.cardTitle {
    text-shadow: 1px 1px 5px skyblue;
    white-space: nowrap;
}

.blackText {
    color: black;
}

.membersTableWrapper {
    margin-top: 10px;
    background-color: #1c3441;
    border-style: inset;
    border-color: #346a86;
    border-radius: 10px;
    border-width: 3px;
    box-shadow: inset 0px 0px 20px #060a0b;
}

.membersTable {
    width: 100%;
    table-layout: auto;
    text-shadow: 1px 1px 5px skyblue;
    white-space: nowrap;
    color: white;
    text-transform: none !important;
}

.membersTableHeader {
    text-shadow: 1px 1px 5px skyblue;
    white-space: nowrap;
}

.tableHeaderCell {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.tableHeaderCellText {
    font-size: 25px;
    margin-left: 20px;
}

.membersTableCell {
    padding: 20px;
}

.memberBoardWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin-top: 20px;
    background-color: #adc9cd;
    border-style: outset;
    border-width: 5px;
    border-color: #b3cbcf;
}

.tableCell {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
}

.memberPfp {
    height: 4em;
    width: auto;
    border-radius: 50%;
    margin-right: 20px;
}

.positionEmblem {
    height: 60px;
    width: auto;
}

.positionEmblemWrapper {
    min-width: 120px;
}

.rankEmblemWrapper {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 60%;
}

.ranktableColumn {
    position: relative;
    top: 20px;
}

.rankEmblemtableColumn {
    height: 4em;
    width: auto;
    position: relative;
    bottom: 5px;
    justify-self: center;
}

a {
    text-decoration: none;
    cursor: pointer;
    outline: none;
    color: inherit;
}

a:hover {
    color: inherit;
}

.expandArrowIcon {
    margin-left: auto;
    font-size: 2em;
}

.gameCountText {
    position: relative;
    top: 8px;
    font-size: smaller;
    margin-left: 5px;
    font-weight: 300;
}

.winrateHighlightRed {
    text-shadow: 1px 1px 1px rgba(255, 101, 101, 0.708);
}

.winrateHighlightYellow {
    text-shadow: 1px 1px 1px rgba(255, 196, 68, 0.632);
}

.winrateHighlightGreen {
    text-shadow: 1px 1px 1px rgba(90, 223, 37, 0.574);
}

.noWrapText {
    white-space: nowrap;
}

.inviteCodeSearchBar {
    width: 90%;
    padding: 10px;
    margin: 0;
    background-color: white;
    border: none;
    border-radius: 7px;
    margin-bottom: 15px;
    box-shadow: 0px 0px 5px white;
}

.inviteCodeSearchBar:focus {
    outline-width: 0;
    outline: none;
    box-shadow: 0px 0px 10px white;
}

.iconHighlight {
    box-shadow: 0px 0px 10px white;
}

.roleIconImg {
    height: 3em;
    width: auto;
}

.resetRolesQueryButton {
    font-size: 2em;
}

.resetRolesQueryButtonWrapper {
    padding: 10px;
    border-style: outset;
    border-color: #336c87c1;
    border-width: 4px;
}

.resetRolesQueryButtonWrapper:active {
    border-style: inset;
}

.resetRolesQueryButtonWrapper:hover {
    background-color: #326b85c1;
    border-color: #3e82a2c1;
}

.resetRolesQueryButton path {
    stroke: white;
}

.FilterWrapper {
    width: 80%;
    padding: 20px;
    background-color: #29576dc1;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-style: outset;
    border-width: 7px;
    border-color: #316983c1;
    border-radius: 10px;
    box-shadow: 0 0 2px #fff, 0 0 8px #91e0ff, 0 0 10px #7bdaff,
        0 0 15px #17bdff, 0 0 20px #0073ff;
}

.FilterWrapper > div:not(:last-child) {
    margin-bottom: 20px;
}

.filterDetailsWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.subFilterWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.positionsFilterWrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.quickJoinFilterWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.filterLabel {
    color: white;
    margin-right: 20px;
    white-space: nowrap;
}

.RolesQueryIcons {
    border-style: inset;
    border-color: #316278c1;
    border-width: 3px;
    background-color: #193745c1;
    padding: 5px;
    margin-right: 20px;
}

.RolesQueryIcons img:not(:last-child) {
    margin-right: 15px;
}

.teamsListSectionDivide {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.sectionTitleYellow {
    white-space: nowrap;
    text-shadow: 0 0 2px #fff, 0 0 5px #faff91aa, 0 0 7px #fffa5cab,
        0 0 9px #fff132b5, 0 0 11px #ffe100ae;
}

.sectionTitleDividerBarsYellow {
    width: 45%;
    border-top: 3px solid white;
    box-shadow: 0 0 2px #fff, 0 0 5px #faff91aa, 0 0 7px #fffa5cab,
        0 0 9px #fff132b5, 0 0 11px #ffe100ae;
}

.sectionTitleIconYellow {
    font-size: 2em;
    margin-left: 15px;
    margin-right: 15px;
}

.sectionTitleIconYellow path {
    stroke: white;
    color: white;
}

.NoMatchesSign {
    margin-top: 30px;
    margin-bottom: 30px;
    text-shadow: 0px 0px 10px white;
    align-self: center;
}

.UserTeamsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 3em;
}

.quickJoinButton {
    border-radius: 50%;
    background-color: #284e60;
    border-color: white;
    border-width: 4px;
    border-style: solid;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    white-space: nowrap;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 8px;
}

.openTeamsWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
